#criação-de-fichas-explicação{
    width: 50%;
    margin-left: 3%;
    margin-right: 10%;
}

#criação-de-fichas{
    margin-top: 3%;
}

#TituloExplicativoCriaçãoFichas{
    font-size: clamp(1rem, 2vw, 2rem);

}

#link-button-personagens{
    background-color: transparent;
    border-color: #e01f1f;
    color: #e01f1f;
    width: 100%;
    transition: 0.3s ease-in;
}

#link-button-personagens:hover{
    background-color: #e01f1f;
    border: transparent;
    color: #fff;
}

#link-button-personagens-label{
    width: 60%;
}

#link-button-personagens-texto{
    font-size: clamp(1rem, 2vw, 2rem);
}

#mesas-explicação{
    width: 50%;
    margin-left: 3%;
    margin-right: 10%;
}

#mesas{
    margin-top: 10%;
}

#link-button-mesas{
    background-color: transparent;
    border-color: #e01f1f;
    color: #e01f1f;
    width: 100%;
    transition: 0.3s ease-in;
}

#link-button-mesas:hover{
    background-color: #e01f1f;
    border: transparent;
    color: #fff;
}

#link-button-mesas-label{
    width: 60%;
}

#link-button-mesas-texto{
    font-size: clamp(1rem, 2vw, 2rem);
}