

/*Configurações espéficas*/
#NovoPersonagem-DIV{
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#NovoPersonagem-BTN{
    background-color: #e01f1f;
    border-color: #e01f1f;
    font-weight: 450;
} 

#NovoPersonagem-BTN:hover{
    background-color: #ca1919;
    border-color: #ca1919;
}

#lb-Barra_de_pesquisa{
    margin: auto;
    width: 80%;
}

.nav{
    background-color: #18181B;
}


#Titulo{
    margin-left: 10%;
}

#busca{
    color: #fff;
    background: #18181B;
    border: 2px solid transparent;
}

#busca:focus{
    border: 2px solid #FF8C00;
    box-shadow: none;
}

#busca::placeholder{
    color: #fff;
    font-size: medium;
}

#Personagens-content{
    margin-top: 2%;
    margin-left: 2%;
}

.img-personagem{
    margin-right: 2%;
    /*tamanho padrão das imagens de acordo com o cris é 120x127*/
    width: 100%;
    height: 80%;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

#img-personagem-client{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: object-positon 0.3s;
    display: block;
}
